
.menu {
	display: flex;
	background-color: #212121;
	width: 100%;
	height: 51px;
	justify-content: center;
	position: fixed;

		&__items {
			padding: 0 15px;
			display: flex;
			justify-content: space-between;
			width: 1030px;
		}

		&__item {
			height: 31px;
			margin: auto 0;
			display: flex;
			align-items: center;
		}
		&__item-border {
			border-right: 1px dashed #000000;
			height: 31px;
			margin: auto 0;
		}
		&__link {
			font-size: 15px;
			font-weight: 300;
			color: #ffffff;
			
		}
}


//burger
.burger {
	width: 30px;
	height: 26px;
	position: absolute;
	right: 30px;
	top: 12px;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1000;
	display: none;
	&__line {
		// display: block;
		height: 2px;
		width: 30px;
		background-color: #ffffff;
		transition: all 0.3s;
	}
	&::before{
		content: "";
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		background: #ffffff;
		transition: all 0.7s;
		}
	&::after{
		content: "";
		bottom: 0;
		left: 0;
		right: 0;
		height: 2px;
		background: #ffffff;
		transition: all 0.7s;
	}
}

.burger_active{
	.line {
		width: 0px;
		transition: all 0.3s;
	}
	&::before{
		content: "";
		position: relative;
		top: 12px;
		left: 0px;
		right: 0;
		height: 2px;
		background: #ffffff;
		transform: rotate(-220deg);
		transition: all 0.7s;
		}
	&::after{
		position: relative;
		content: "";
		bottom: 11px;
		left: -1px;
		right: 0px;
		height: 2px;
		background: #ffffff;
		transform: rotate(220deg);
		transition: all 0.7s;
	}
}

@media(max-width: 768px){
	.burger {
		display: flex;
	}
	.menu{
		&__items{
			position: fixed;
			height: 100%;
			width: 100%;
			padding: 4% 0;
			flex-direction: column;
			align-items: center;
			background-color: #212121fa;
			top: -100%;
			transition: all 0.4s ease-in-out;

		}
		&__items_active{
			top: 0;
			transition: all 0.4s ease-in-out;
		}
		&__item-border{
			display: none;

		}
	}
}