.footer {
	padding: 14px 30px 21px 30px;

	&__line {
		width: 299px;
		height: 4px;
		background-color: #1fbad6;
		margin: 0 auto;
	}

	&__flex-elements {
		display: flex;
		justify-content: space-between;
		margin-top: 32px;
	}

	&__flex-element-centered {
		margin-left: 135px;
	}
	&__flex-element-shop {
		display: flex;
	}

	&__social {
		display: flex;
		margin: 0 -5px;
		a{
			margin: 0 5px;
			width: 32px;
			height: 32px;
			background-color: #070716;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.5s all;
			cursor: pointer;
			&:hover{
				background-color: $main-color;
				transform: translateY(-5px);
				transition: 0.5s all;
			}
		}
	}

	&__menu {
		display: flex;
		justify-content: center;
		margin: 0 -24px;
	}

	&__menu-item {
		
		a{
		display: block;
		margin: 0 24px;
		font-size: 15px;
		text-transform: uppercase;
		color: #070716;
		transition: 0.5s all;
		&:hover{
			color: $main-color;
			transform: translateY(-5px);
			transition: 0.5s all;
			}
		}
	}

	&__info {
		
		display: flex;
		justify-content: center;
		margin: 0 -10px;
		margin-top: 15px;
	}

	&__info-item {
		
		a{
		margin: 0 10px;
		font-size: 11px;
		text-transform: uppercase;
		color: #999999;
		transition: 0.5s all;
		&:hover{
			color: $main-color;
			transition: 0.5s all;
			}
		}
	}

	&__language {
		margin-top: 19px;
		display: flex;
		justify-content: center;
		a{
			display: block;
		font-size: 11px;
		text-transform: uppercase;
		color: #1fbad6;
		}
	}
	&__shop{
		display: flex;

		&:hover{
			transform: translateY(-5px);
			transition: 0.5s all;
			}
	}
}
.footer-wripper {
}


@media(max-width:1100px){
	.footer{
		&__flex-element-shop{
			flex-direction: column;
		}
	}
}
@media(max-width:890px){
	.footer{
		&__flex-elements{
			flex-direction: column;
			align-items: center;
		}
		&__flex-element-centered{
			margin-left: 0;
			margin-top: 20px;
		}
		&__flex-element-shop{
			margin-top: 20px;
			flex-direction: row;
		}
	}
}

@media(max-width:460px){
	.footer{
		&__line{
			width: 200px;
		}
		&__menu{
			margin-top: 20px;
			flex-direction: column;
			align-items: center;
		}
		&__menu-item{
			margin: 10px 0px
		}
		&__info{
			margin-top: 20px;
			flex-direction: column;
			align-items: center;
		}
		&__info-item{
			margin: 10px 0px
		}
		&__flex-element-shop{
			margin-top: 20px;
			flex-direction: column;
		}
		&__shop{
			margin: 10px 0px
		}
	}
}