.mobile {
	padding: 48px 0px 0px 0px;

	&__title {
	}

	&__subtitle {
		margin-top: 46px;
	}

	&__under-text {
		margin-top: 19px;
	}
}

.mobile-container{
	margin: 0 auto;
	width: 70%;

}

.swiper-container-mobile{
	height: 600px;
	overflow: hidden;
	padding-bottom: 40px;
}

@media(max-width:900px){
	.swiper-slide_mobile{
	height: 400px;
	}
}

@media(max-width:580px){
	.swiper-slide_mobile{
	height: 330px;
	}
}

@media(max-width:400px){
	.swiper-slide_mobile{
	height: 300px;
	}
}
